/*///// COLORS//// */
/* #00C676 */

/* //////BLACKS/////// */
/* #333 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  color: #777;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  color: #00c676;
}

/* NAVIGATION SECTION */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.6rem;
}

.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-size: 1.5rem;
}

.nav_link:link,
.nav_link:visited {
  text-decoration: none;
  /* color: #333; */
  color: inherit;
  font-weight: 700;
}

.nav_link:hover,
.nav_link:active {
  color: #00c676;
}

.btn--main:link,
.btn--main:visited {
  color: #fff;
  background-color: #00c676;
  padding: 0.6rem 2.4rem;
  border-radius: 1rem;
  display: inline-block;

  text-decoration: none;
  font-weight: 900;
  transition: all 0.2s;
}

.btn--main:hover {
  background-color: #009f53;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.btn--main:active {
  background-color: #009f53;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}
