/*///// COLORS//// */
/* #00C676    #009f53*/

/* //////BLACKS/////// */
/* #777  #f0f0f2*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #777;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  color: #00c676;
  text-decoration: none;
}

/*///////////////// NAVIGATION SECTION //////////////////// */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.6rem;
  margin-bottom: 12.8rem;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6.4rem;
  padding: 0 15%;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
}

.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-size: 1.5rem;
}

.nav_link:link,
.nav_link:visited {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.nav_link:hover,
.nav_link:active {
  color: #00c676;
}

.btn--main:link,
.btn--main:visited {
  color: #fff;
  background-color: #00c676;
  padding: 0.6rem 2.4rem;
  border-radius: 100rem;
  display: inline-block;

  text-decoration: none;
  font-weight: 900;
  transition: all 0.2s;
}

.btn--main:hover {
  background-color: #009f53;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.btn--main:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

/*///////////////// HERO SECTION //////////////////// */
.section-hero {
  margin: 12.8rem auto;
}

.hero {
  display: grid;
  grid-template-columns: 40fr 60fr;
  gap: 1.6rem;

  padding: 1.6rem;
}

.hero_text-box {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.heading--primary span {
  text-transform: uppercase;
  color: #00c676;
  font-weight: 900;
  font-size: 5.6rem;
  width: 100%;
  /* margin-bottom: 9.8rem; */
}

.heading--primary {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
  line-height: 1;
  letter-spacing: -0.5px;
}

.hero_text {
  font-size: 1.6rem;
  margin-bottom: 6.4rem;
  color: #999;
}

.hero_img-box {
  grid-column: 2;
}

.hero_img {
  width: 100%;
  padding-right: 0;
  border-bottom-left-radius: 10rem;
  border-top-right-radius: 10rem;
}

a.hero_link:link {
  text-align: center;
  width: 50%;
  font-size: 2rem;
  padding: 1.6rem;
}

/*///////////////// FEATURES SECTION //////////////////// */
.section-features {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f2;
  padding: 12.8rem 0;
  padding-bottom: 15rem;
}

.feature-textbox {
  text-align: center;
}

.heading--others {
  font-size: 1.2rem;
  color: #999;
}

.heading--secondary {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
  color: #444;
  height: 4rem;
}

.features--description {
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
  color: #999;
}

.features-cardbox {
  display: flex;
  gap: 2rem;
}

.features-box {
  width: 25%;
  height: 30rem;
  padding: 2rem;
  padding-bottom: 3rem;
  background-color: #fff;
  font-size: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); */
}

.icon {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #999;
}

.features-cardtext {
  color: #999;
  height: 50%;
  line-height: 1.1;
}

/*/////////////// TESTIMONIALS SECTION ////////////////// */
.section-testimonials {
  text-align: center;
  margin-bottom: 9.6rem;
  padding-top: 8rem;
}

.testimonials-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100rem;
  margin-bottom: 1rem;
}

.testimonials-name {
  font-size: 1.6rem;
  color: #999;
}

.testimonials-position {
  font-size: 1rem;
  color: #999;
  margin-bottom: 2rem;
}

.testimonials-testimony {
  font-size: 1.6rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.testimonials-boxes {
  width: 60%;
  margin: 0 auto;
}

.testimonials-box {
  padding: 2.4rem 0;
}

.testimonials-box span {
  font-size: 1.6rem;
  color: rgb(219, 219, 49);
}

/*/////////////// SIGNUP SECTION ////////////////// */

.section-signup {
  display: flex;
  /* flex-direction: column; */
  gap: 6.4rem;
  background-color: #f0f0f2;
  padding: 12.8rem 4.8rem;
  margin-bottom: 4.8rem;
}

.signup-textbox {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.signup-heading {
  color: #444;
}

.signup-text {
  font-size: 1.6rem;
  line-height: 1.1;
  margin-bottom: 4rem;
}

.signup-imgbox {
  width: 100%;
}

.signup-img {
  width: 100%;
  border-bottom-right-radius: 5rem;
  border-top-left-radius: 5rem;
  filter: brightness(70%);
  filter: grayscale(60%);
  opacity: 90%;
}

.email {
  border: 0;
  border: 2px solid #009f53;
  border-radius: 1rem;
  width: 40rem;
  padding: 1rem;
  font-size: 1.6rem;
  opacity: 60%;
  margin-right: 1rem;
}

.submit {
  display: inline-block;
  padding: 0.8rem 1.6rem;

  border: none;
  background-color: #00c676;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.6rem;
  border-radius: 100rem;
  cursor: pointer;
  transition: all 0.2s;
}

.submit:hover {
  background-color: #009f53;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.submit:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

/*/////////////// FOOTER SECTION ////////////////// */

.section-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  line-height: 1.5;
  /* width: 100%; */
  /* margin: 0 auto; */

  padding-bottom: 4.8rem;
}

.footer-heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-icons {
  display: flex;
  gap: 1rem;
  /* flex-direction: column; */
}

.footer-icon {
  font-size: 2rem;
  /* padding-right: 1rem; */
}

.footer-text:link,
.footer-text:visited,
.footer-iconlink:link,
.footer-iconlink:visited {
  font-size: 1.2rem;
  text-decoration: none;
  color: #999;
  display: block;
}

.footer-text:hover,
.footer-text:active,
.footer-iconlink:hover,
.footer-iconlink:active {
  color: #009f53;
}

.footer {
  background-color: #444;
  font-size: 1.2rem;
  color: #f0f0f2;
  padding: 1.4rem;
  text-align: center;
}
